<div class="wrapper">
  <div class="row-flex">
    <img class="avatar" src="assets/icon/favicon.png">
    <div class="content-wrapper">
      <ion-label>
        <h2>r/Subforum</h2>
        <p>u/User</p>
      </ion-label>
      <h2>Sachen machen!!!</h2>

      <div class="content">
        <p>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
          mmmmmmmmmmmmmmmm<br>
        </p>
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
      </div>

      <div class="footer">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
        </ion-button>

        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="flag"></ion-icon>
        </ion-button>

        <span class="spacer"></span>

        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="repeat"></ion-icon>
        </ion-button>
      </div>

    </div>

    <div class="vote">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-chip disabled>5 Aura</ion-chip>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </div>

  </div>

</div>
