<ion-content [fullscreen]="true">

  <div class="column">
    <div class="center-container">
      <ion-input
        type="input"
        shape="round"
        labelPlacement="stacked"
        fill="outline"
        class="login"
        label="Benutzername">
      </ion-input>
      <ion-input
        type="password"
        shape="round"
        labelPlacement="stacked"
        fill="outline"
        class="login"
        label="Passwort">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-button shape="round" [routerLink]="['/chad']">Login</ion-button>
    </div>
  </div>
</ion-content>
